.test-page {
  position: relative;
  height: 100vh;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.background-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

form {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
}

.form-heading {
  margin-bottom: 20px;
}

.form-content {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

.row {
  display: flex;
  margin-bottom: 10px;
}

.column {
  flex: 1;
  margin: 0 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:hover,
select:hover {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

button {
  background: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
